<footer class="bg-light text-center text-lg-start mt-5">
    <!-- Footer content -->
    <div class="container p-4">
      <div class="row">
        <!-- About Section -->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">About SMS</h5>
          <p>
            The Student Management System helps institutions streamline student records, enhance administrative efficiency, and provide a better experience for both students and staff.
          </p>
        </div>
  
        <!-- Quick Links Section -->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/" class="text-dark">Home</a></li>
            <li><a href="/add-student" class="text-dark">Add Student</a></li>
            <li><a href="/show-students" class="text-dark">Show Students</a></li>
            <li><a href="/delete-student" class="text-dark">Delete Student</a></li>
          </ul>
        </div>
  
        <!-- Contact Section -->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact Us</h5>
          <p>
            123 School St., City, Country<br>
            Email: support@sms.com<br>
            Phone: +123 456 7890
          </p>
        </div>
      </div>
    </div>
  
    <!-- Footer Copyright -->
    <div class="text-center p-3 bg-dark text-white">
      © 2025 Student Management System. All rights reserved.
    </div>
  </footer>
  