<% layout('layouts/boilerplate') -%>

<div>
    <form action="/delete-student" method="post">
    <label for="id">
        Id :
    </label>
    <input type="text" name="id" id="name">

    </div>

    <div>
        <button type="submit">Delete Student</button>
    </div>
</form>



</div>